<footer>
  <div class="footer-main">
    <div class="footer-logo">
      <img
        src="/img/Gemini_Generated_Image_swydapswydapswyd.png"
        alt="Toy Heaven Logo"
      />
      <p>Playful toys. Bright minds. Happy hearts.</p>
    </div>
    <div class="footer-links">
      <div class="explore">
        <h4>Explore</h4>
        <a>Educational</a>
        <a>Action</a>
        <a>Puzzle</a>
        <a>Soft Toy</a>
        <a>Vehicle</a>
        <a>Others</a>
      </div>
      <div class="follow">
        <h4>Follow Us</h4>
        <a><i class="fa-brands fa-github"></i> GitHub</a>
        <a><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
        <a><i class="fa-brands fa-instagram"></i> Instagram</a>
      </div>
      <div class="contact">
        <h4>Support</h4>
        <a>Contact Us</a>
      </div>
    </div>
  </div>
  <p class="rights">
    © 2026 Toy-Heaven. All rights <a href="/toys/policy">reserved</a>.
  </p>
</footer>
