<nav>
  <div class="icon">
    <img
      src="/img/Gemini_Generated_Image_swydapswydapswyd.png"
      alt="logo image"
    />
  </div>
  <div class="pages">
    <a>Education Page</a>
    <a>Action Page</a>
    <a>Adventure Page</a>
    <a>Puzzle Page</a>
    <a>Soft Toy Page</a>
    <a>Vehicle Page</a>
    <a>Others Page</a>
  </div>
  <div class="sign">
    <a><i class="fa-solid fa-user"></i></a>
    <a><i class="fa-solid fa-cart-shopping"></i></a>
  </div>
</nav>
