<% layout("./layouts/boilerplate.ejs") -%>

<div class="show-container">
  <div class="show-img-container">
    <img src="/img/Gemini_Generated_Image_6h0dmm6h0dmm6h0d.png" alt="Sorry For An Error" />
  </div>

  <div class="show-details">
    <span class="show-category">Error</span>
    <h1 class="show-title">Unexpected Error Sorry</h1>

    <p class="show-desc"><%= err %></p>
    <br><br>
    <div class="Home">
        <a href="/toys" class="btn-return">
            <i class="fa-solid fa-house"></i> Return Back To Home Page
        </a>
    </div>

    </div>
  </div>
</div>
